<script>
   $(document).ready(function(){
      var settings_item_original = $('#settings-item')
      $('.ui.accordion')
         .accordion({onChange: function(){
            var section = $('.ui.accordion .title.active').data("section");
            var new_crumb
            if (section === undefined){
               new_crumb = "";
            } else {
               new_crumb = '<i class="right chevron icon divider"></i><div class="active section">' + section + '</div>';
            }
            settings_item = $('#settings-item')
            settings_item.nextAll().remove();
            if (settings_item.hasClass('active') || $('.ui.accordion').find('.active').length > 0){
               settings_item.replaceWith('<a class="item" id="settings-item">Settings</a>');
            } else {
               settings_item.replaceWith(settings_item_original);
            }
            $(new_crumb).insertAfter($('#settings-item'));
         }
      });
   });
</script>
<div class="ui segment">
   <div class="ui medium breadcrumb">
      <a class="section" ui-sref="account">Account</a>
      <i class="right chevron icon divider"></i>
      <div class="active section" id="settings-item">Settings</div>
   </div>
   <div class="ui huge header">
      <i class="settings icon"></i>
      Account Settings
   </div>
   <div class="ui accordion">
      <div class="title" data-section="Personal details">
         <i class="dropdown icon"></i>
         Personal details
      </div>
      <div class="content">
         <form class="ui form" method="POST" action="updateUserInfo">
            {% csrf_token %}
            <div class="field">
               <label>First name</label>
               <input type="text" name="first_name" pattern="\D*" title="No numbers please" value={{user.first_name}} required>
            </div>
            <div class="field">
               <label>Last name</label>
               <input type="text" name="last_name" pattern="\D*" title="No numbers please" value={{user.last_name}}>
            </div>
            <div class="field">
               <label>Email address</label>
               <input type="email" name="email" value={{user.email}} required>
            </div>
            <button class="ui button" type="submit">Update</button>
         </form>
      </div>
      <div class="title" data-section="Password">
         <i class="dropdown icon"></i>
         Password
      </div>
      <div class="content">
         <form class="ui form" method="POST" action="updateUserPassword">
            {% csrf_token %}
            <div class="field">
               <label>Current password</label>
               <input type="password" name="current_password" required>
            </div>
            <div class="field">
               <label>New password</label>
               <input type="password" name="new_password" title="Must be at least 6 characters long" onchange="form.new_password_confirm.pattern = this.value;" pattern=".{6,}" required>
            </div>
            <div class="field">
               <label>Confirm new password</label>
               <input type="password" name="new_password_confirm" title="New passwords must match" required>
            </div>
            <button class="ui button" type="submit">Update</button>
         </form>
      </div>
   </div>
</div>
