<div class="ui segment">
   <div class="ui huge header">Account</div>
   <div class="ui grid">
      <div class="row">
      </div>
      <div class="row">
         <div class="five wide column">
            <div class="ui dividing header">
               Personal
            </div>
         </div>
      </div>
      <div class="row">
         <div class="four wide column">
            <form class="ui form">
               <div class="field">
                  <label>First name</label>
                  <input type="text" name="first-name" value="Current name">
               </div>
               <div class="field">
                  <label>Last name</label>
                  <input type="text" name="last-name" value="Current last name">
               </div>
               <div class="field">
                  <label>Email address</label>
                  <input type="email" name="email" value="Current@email.com">
               </div>
               <button class="ui button" type="submit">Update</button>
            </form>
         </div>
      </div>
   </div>
</div>
