{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="moneyviz">
<head>
   <meta charset="UTF-8">
   <title>MoneyViz</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.js"></script>
   <script src="{% static "js/app.js" %}"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.css">
</head>
<body>
   <div class="ui inverted blue menu">
      <a class="item" ui-sref="home">Home</a>
      <a class="item" ui-sref="balance">Balance</a>
   </div>

   <div class="ui-view-container">
      <div ui-view autoscroll="false">
      </div>
   </div>
</body>
</html>
