{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="moneyviz">
<head>
   <meta charset="UTF-8">
   <title>MoneyViz</title>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.4/angular-animate.js"></script>
   <script src="{% static "semantic/dist/semantic.min.js" %}"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.js"></script>
   <script src="{% static "js/app.js" %}"></script>
   <link rel="stylesheet" href="{% static "semantic/dist/semantic.min.css" %}">
</head>
<body>
   <div class="ui inverted blue menu">
      <a class="item" ui-sref="home">Home</a>
      <a class="item" ui-sref="balance">Balance</a>
      <div class="right menu">
         <a class="item" ui-sref="account">Account</a>
         <a class="item" href="doLogout"><i class="sign out icon"></i>Logout</a>
      </div>
   </div>

   <div class="ui-view-container">
      <div ui-view autoscroll="false">
      </div>
   </div>
</body>
</html>
