<!DOCTYPE html>
<html lang="en">
<head>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.js"></script>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.8/semantic.css">
   <meta charset="UTF-8">
   <title></title>
   <style type="text/css">
    body {
      background-color: #DADADA;
    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -100px;
    }
    .column {
      max-width: 450px;
    }
  </style>
</head>
<body>
<div class="ui middle aligned center aligned grid">
   <div class="column">
      <h2 class="ui blue header">
         <div class="content">MoneyViz Login</div>
      </h2>
      <form class="ui large form" method="POST" action="doLogin" name="doLogin">
         {% csrf_token %}
         <div class="stacked segment">
            <div class="field">
               <div class="ui left icon input">
                  <i class="user icon"></i>
                  <input type="text" placeholder="Username" name="username"></input>
               </div>
            </div>
            <div class="field">
               <div class="ui left icon input">
                  <i class="lock icon"></i>
                  <input type="password" placeholder="Password" name="password"
                     onkeypress="if(event.keyCode == 13){ document.doLogin.submit(); }"></input>
               </div>
            </div>
            <div class="ui fluid large blue submit button" 
               onclick="document.doLogin.submit()">Login</div>
         </div>
      </form>
      <div class="ui segment">
         <a class="ui fluid large blue button" href="{% url 'social:begin' 'google-oauth2' %}?next=/">Login with Google</a>
      </div>
   </div>
</div>
</body>
</html>
